<div class="container mt-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 mt-3">
                <div class="d-flex justify-content-center px-5">
                    <div class="display-4">Logs</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>



<div class="container">
    <div class = "row col-md-12 col-sm-12">
        <table class = "table table-striped">
            <thead>
                <tr class="text-center">
                    <th>User</th>
                    <th>Log</th>
                    <th>Date & TimeStamp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let log of parser" class="text-center">
                    <td>{{log.user}}</td>
                    <td>{{log.msg}}</td>
                    <td>{{log.datetime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class = "container" name = "logger" ngDefaultControl [(ngModel)]="logger">
    <div class = "row col-lg-12 col-sm-12">
        <table class = "table table-striped">
            <tbody>
                <tr *ngFor = "let log of logger">
                    <td>{{log}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

