<div class="container mt-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 mt-3">
                <div class="d-flex justify-content-center px-5">
                    <div class="display-4">Trends</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>



<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 mt-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-grey">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <button type="button" class="btn btn-primary p-2 flex-fill bd-highlight" (click)="openChart(chart[0].id)">{{chart[0].value}}</button>&nbsp;
                        <button type="button" class="btn btn-primary p-2 flex-fill bd-highlight" (click)="openChart(chart[1].id)">{{chart[1].value}}</button>&nbsp;
                        <button type="button" class="btn btn-primary p-2 flex-fill bd-highlight" (click)="openChart(chart[2].id)">{{chart[2].value}}</button>&nbsp;
                        <button type="button" class="btn btn-primary p-2 flex-fill bd-highlight" (click)="openChart(chart[3].id)">{{chart[3].value}}</button>&nbsp;
                        <button type="button" class="btn btn-primary p-2 flex-fill bd-highlight" (click)="openChart(chart[4].id)">{{chart[4].value}}</button>
                      </ul>
                    </div>
                  </nav>
                <div *ngIf="temp==1">
                  <ngx-charts-bar-vertical 
                  [view]="[1000,400]"
                  [results]="parser"
                  [xAxisLabel]="'Skillset'"
                  [legendTitle]="'Skillset Variation'"
                  [yAxisLabel]="'Count'"
                  [legend]="true"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [gradient]="true">
                  </ngx-charts-bar-vertical>
                </div>
                <div *ngIf="temp==2">
                  <ngx-charts-pie-chart 
                  [results]="parser"
                  [legend]="true"
                  [legendTitle]="'Product Sale Report'" 
                  [view]="[1000,300]"
                  [labels]="true" >
                  </ngx-charts-pie-chart>
                </div>
                <div *ngIf="temp==3">
                  <h6 class="text-right"><b>Location Demographics</b></h6>
                  <ngx-charts-advanced-pie-chart
                    [results]="parser"
                    [gradient]="true" >
                  </ngx-charts-advanced-pie-chart>
                </div>
                <div *ngIf="temp==4">
                  <ngx-charts-pie-chart 
                  [results]="parser"
                  [legend]="true"
                  [legendTitle]="'Feedback among Candidates'" 
                  [view]="[1000,300]"
                  [labels]="true" >
                  </ngx-charts-pie-chart>
                </div>
                <div *ngIf="temp==5">
                  <ngx-charts-bar-vertical 
                  [view]="[1000,400]"
                  [results]="parser"
                  [xAxisLabel]="'Role'"
                  [legendTitle]="'Role Diversity'"
                  [yAxisLabel]="'Count'"
                  [legend]="true"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [gradient]="true">
                  </ngx-charts-bar-vertical>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
